<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no"> -->
    <title>商品页面</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="css/ripples.css">
    <!-- <style type="text/css">
    /* 设置dialog居中显示 */
    .modal-dialog {
        position: absolute;
        top: 50% !important;
        transform: translate(0, -50%) !important;
        -ms-transform: translate(0, -50%) !important;
        -webkit-transform: translate(0, -50%) !important;
        margin: auto 5%;
        width: 90%;
        height: 80%;
    }
    
    .modal-content {
        min-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .modal-body {
        position: absolute;
        top: 45px; // height of header
        bottom: 45px; // height of footer
        left: 0;
        right: 0;
        overflow-y: auto;
    }
    
    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    </style> -->
</head>

<body>
    <div class="navbar navbar-info">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">商品列表</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#addcommodity-dialog" href="javascript:void(0)">添加商品</a></li>
                    <li><a href="/cart">购物车</a></li>
                    <li><a href="javascript:void(0)">退出登陆</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="addcommodity-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body">
                    <div id="product-area" class="col-md-12">
                        <div class="well col-md-12">
                            <form id="login-form" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="name" class="col-md-2 control-label title" style="text-align: left;">商品名称</label>
                                        <div class="col-md-12">
                                            <input type="text" name="name" placeholder="商品名称" class="form-control" id="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="price" class="col-md-2 control-label" style="text-align: left;">价格</label>
                                        <div class="col-md-12">
                                            <input type="text" name="price" placeholder="价格" class="form-control" id="password">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="confirm" name="add-product" type="submit" class="btn btn-primary btn-raised" data-dismiss="modal">添加商品</button>
                    <button id="cancel" name="candel" type="button" class="btn btn-primary btn-raised" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="spys">
        <%for(var i in Commoditys) { if(!Commoditys[i].name) continue;%>
            <li class="sps li">
                <div>
                    <img width="80" height="100" src="images/<%=Commoditys[i].imgSrc %>">
                </div>
                <br>
                <div>
                    <a>
                        <%=Commoditys[i].name%>
                    </a>
                    <br>
                    <strong style="color: red;">￥<%=Commoditys[i].price%></strong>
                </div>
                <div>
                    <a class="btn btn-successs btn-raised" href="/addToCart/<%=Commoditys[i]._id%>" style="width: 7.5em;text-align: left;">加入购物车</a>
                </div>
            </li>
            <%}%>
    </ul>
    <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/material.js"></script>
    <script type="text/javascript" src="js/ripples.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        // 初始化md组件
        $.material.init()

        function addcommodity() {
        	var data = $('form').serialize() + '&imgSrc=' + 'xmsz-'+Math.floor(Math.random() * 5 + 1)+'.jpg'
        	$.ajax({
        		url: '/addcommodity',
        		type: 'POST',
        		data: data,
        		success: function(data, status) {
        			if(status == 'success') {
        				alert('添加成功')
        			} else {
        				alert('.....')
        			}
        		},
        		error: function(data, error) {
        			alert('error!')
        		}
        	})
        }

        $('#confirm').on('click', function(e) {
            e.preventDefault()
            addcommodity()
        })
    })
    </script>
</body>

</html>
